.navigation__darkLayer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}