.techs__items {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .techs__items {
    justify-content: left;
    width: 178px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}