.techs__text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  letter-spacing: -0.04em;
  margin: 0 auto 100px auto;
  max-width: 460px;
}

@media screen and (max-width: 768px) {
  .techs__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }
}

@media screen and (max-width: 320px) {
  .techs__text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
  }
}