.aboutMe__photo {
  background-image: url("../../../images/photo.jpg");
  background-size: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  grid-area: photo;
}

@media screen and (max-width: 768px) {
  .aboutMe__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__photo {
    width: 292px;
    height: 352px;

  }
}