.promo__label {
  position: absolute;
  z-index: 0;
  margin-bottom: 122px;
}

@media screen and (max-width: 768px) {
  .promo__label {
    margin-bottom: 240px;
  }
}

@media screen and (max-width: 320px) {
  .promo__label {
    width: 248px;
    height: 248px;
    margin-bottom: 180px;
  }
}