  .profileButton_type_menu {
    display: block;
    margin-top: auto;
    margin-bottom: 90px;
  }

  @media screen and (max-width: 320px) {
    .profileButton_type_menu {
      margin-bottom: 46px;
    }
  }