.profile__form-input {
  text-align: right;
  outline: none;
  font-size: 11px;
  height: 14px;
  border: 0;
  padding: 0;
  width: 80%;
  cursor: default;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: .2s;
}