.moviesCardList {
  padding: 70px 70px 30px 70px;
}

@media screen and (max-width: 768px) {
  .moviesCardList {
    padding: 70px 30px 30px 30px;
  }
}

@media screen and (max-width: 320px) {
  .moviesCardList {
    padding: 39px 10px 30px 10px;
  }
}