.navigation__link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  transition: .2s;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link.active {
  border-bottom: 2px solid black;
}